Package: com.sticktron.croutons
Name: Croutons (iOS 9/10)
Depends: firmware (>= 9.0), mobilesubstrate, preferenceloader
Version: 1.0
Architecture: iphoneos-arm
Description: Fancies up the breadcrumb trail statusbar item by showing icons instead of App names.
Maintainer: Sticktron
Author: Sticktron <sticktron@hotmail.com>
Section: Tweaks
